.meter { 
    position: relative;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.isInView .progress {
    animation: scroll 2s ease-in-out;
    -moz-animation: scroll 2s ease-in-out;
}

@keyframes scroll {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}